<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>777768858000-ab6e0ugnkkkjv7all2pnsad015ueqjnq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.777768858000-ab6e0ugnkkkjv7all2pnsad015ueqjnq</string>
	<key>API_KEY</key>
	<string>AIzaSyDgW9s2HKxLqoi7JHzniVV9SRQ3ypGUe9I</string>
	<key>GCM_SENDER_ID</key>
	<string>777768858000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>holog.ARHitBalls</string>
	<key>PROJECT_ID</key>
	<string>arhitballs</string>
	<key>STORAGE_BUCKET</key>
	<string>arhitballs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777768858000:ios:58a63057b0b6d2d6a7c315</string>
</dict>
</plist>